In [1]:
import pandas as pd
import json
import numpy as np


def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name)
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

def export_json(path, output_file):
    final = []

    for line in open(path, 'r'):
        final.append(flatten_json((json.loads(line))))
    new_df = pd.DataFrame(final)
    new_df.to_csv(output_file, index=False)

In [2]:
files = ['brands.json', 'receipts.json', 'users.json']
output_files = ['brands.csv', 'receipts.csv', 'users.csv']


for f, b in zip(files, output_files):
    export_json(f, b)

In [3]:
df_receipts = pd.read_csv("/Users/drishtigugal/Desktop/Company/Coding/FetchRewardsDataAnalyst/receipts.csv")
df_brands = pd.read_csv("/Users/drishtigugal/Desktop/Company/Coding/FetchRewardsDataAnalyst/brands.csv")
df_users = pd.read_csv("/Users/drishtigugal/Desktop/Company/Coding/FetchRewardsDataAnalyst/users.csv")

# EDA

In [4]:
df_receipts.head()

,_id_$oid,bonusPointsEarned,bonusPointsEarnedReason,createDate_$date,dateScanned_$date,finishedDate_$date,modifyDate_$date,pointsAwardedDate_$date,pointsEarned,purchaseDate_$date,...,rewardsReceiptItemList_itemNumber,rewardsReceiptItemList_originalMetaBriteQuantityPurchased,rewardsReceiptItemList_pointsEarned,rewardsReceiptItemList_targetPrice,rewardsReceiptItemList_competitiveProduct,rewardsReceiptItemList_originalFinalPrice,rewardsReceiptItemList_originalMetaBriteItemPrice,rewardsReceiptItemList_deleted,rewardsReceiptItemList_priceAfterCoupon,rewardsReceiptItemList_metabriteCampaignId
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,500.0,1.609632e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,150.0,1.609601e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,1609687537000,1609687537000,NaN,1609687542000,NaN,5.0,1.609632e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,5.0,1.609632e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,5.0,1.609601e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Checking the data type
df_receipts.dtypes

_id_$oid                                                      object
bonusPointsEarned                                            float64
bonusPointsEarnedReason                                       object
createDate_$date                                               int64
dateScanned_$date                                              int64
finishedDate_$date                                           float64
modifyDate_$date                                               int64
pointsAwardedDate_$date                                      float64
pointsEarned                                                 float64
purchaseDate_$date                                           float64
purchasedItemCount                                           float64
rewardsReceiptItemList_barcode                                object
rewardsReceiptItemList_description                            object
rewardsReceiptItemList_finalPrice                            float64
rewardsReceiptItemList_itemPrice                             float64
rewardsReceiptItemList_needsFetchReview                       object
rewardsReceiptItemList_partnerItemId                         float64
rewardsReceiptItemList_preventTargetGapPoints                 object
rewardsReceiptItemList_quantityPurchased                     float64
rewardsReceiptItemList_userFlaggedBarcode                    float64
rewardsReceiptItemList_userFlaggedNewItem                     object
rewardsReceiptItemList_userFlaggedPrice                      float64
rewardsReceiptItemList_userFlaggedQuantity                   float64
rewardsReceiptStatus                                          object
totalSpent                                                   float64
userId                                                        object
rewardsReceiptItemList_needsFetchReviewReason                 object
rewardsReceiptItemList_pointsNotAwardedReason                 object
rewardsReceiptItemList_pointsPayerId                          object
rewardsReceiptItemList_rewardsGroup                           object
rewardsReceiptItemList_rewardsProductPartnerId                object
rewardsReceiptItemList_userFlaggedDescription                 object
rewardsReceiptItemList_originalMetaBriteBarcode              float64
rewardsReceiptItemList_originalMetaBriteDescription           object
rewardsReceiptItemList_brandCode                              object
rewardsReceiptItemList_competitorRewardsGroup                 object
rewardsReceiptItemList_discountedItemPrice                   float64
rewardsReceiptItemList_originalReceiptItemText                object
rewardsReceiptItemList_itemNumber                            float64
rewardsReceiptItemList_originalMetaBriteQuantityPurchased    float64
rewardsReceiptItemList_pointsEarned                          float64
rewardsReceiptItemList_targetPrice                           float64
rewardsReceiptItemList_competitiveProduct                     object
rewardsReceiptItemList_originalFinalPrice                    float64
rewardsReceiptItemList_originalMetaBriteItemPrice            float64
rewardsReceiptItemList_deleted                                object
rewardsReceiptItemList_priceAfterCoupon                      float64
rewardsReceiptItemList_metabriteCampaignId                    object
dtype: object

In [6]:
# Total number of rows and columns
df_receipts.shape

(1119, 48)

In [7]:
# Finding the null values
print(df_receipts.isnull().sum())

_id_$oid                                                        0
bonusPointsEarned                                             575
bonusPointsEarnedReason                                       575
createDate_$date                                                0
dateScanned_$date                                               0
finishedDate_$date                                            551
modifyDate_$date                                                0
pointsAwardedDate_$date                                       582
pointsEarned                                                  510
purchaseDate_$date                                            448
purchasedItemCount                                            484
rewardsReceiptItemList_barcode                                526
rewardsReceiptItemList_description                            525
rewardsReceiptItemList_finalPrice                             454
rewardsReceiptItemList_itemPrice                              454
rewardsReceiptItemList_needsFetchReview                       927
rewardsReceiptItemList_partnerItemId                          440
rewardsReceiptItemList_preventTargetGapPoints                 934
rewardsReceiptItemList_quantityPurchased                      454
rewardsReceiptItemList_userFlaggedBarcode                     935
rewardsReceiptItemList_userFlaggedNewItem                     949
rewardsReceiptItemList_userFlaggedPrice                       973
rewardsReceiptItemList_userFlaggedQuantity                    973
rewardsReceiptStatus                                            0
totalSpent                                                    435
userId                                                          0
rewardsReceiptItemList_needsFetchReviewReason                1035
rewardsReceiptItemList_pointsNotAwardedReason                1048
rewardsReceiptItemList_pointsPayerId                          873
rewardsReceiptItemList_rewardsGroup                           807
rewardsReceiptItemList_rewardsProductPartnerId                738
rewardsReceiptItemList_userFlaggedDescription                1084
rewardsReceiptItemList_originalMetaBriteBarcode              1102
rewardsReceiptItemList_originalMetaBriteDescription          1112
rewardsReceiptItemList_brandCode                             1033
rewardsReceiptItemList_competitorRewardsGroup                1081
rewardsReceiptItemList_discountedItemPrice                    920
rewardsReceiptItemList_originalReceiptItemText                930
rewardsReceiptItemList_itemNumber                            1081
rewardsReceiptItemList_originalMetaBriteQuantityPurchased    1110
rewardsReceiptItemList_pointsEarned                           908
rewardsReceiptItemList_targetPrice                            990
rewardsReceiptItemList_competitiveProduct                    1001
rewardsReceiptItemList_originalFinalPrice                    1116
rewardsReceiptItemList_originalMetaBriteItemPrice            1116
rewardsReceiptItemList_deleted                               1110
rewardsReceiptItemList_priceAfterCoupon                      1019
rewardsReceiptItemList_metabriteCampaignId                   1073
dtype: int64

In [8]:
df_brands.head()

,_id_$oid,barcode,category,categoryCode,cpg_$id_$oid,cpg_$ref,name,topBrand,brandCode
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,601ac114be37ce2ead437550,Cogs,test brand @1612366101024,False,NaN
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,5332f5fbe4b03c9a25efd0ba,Cogs,Starbucks,False,STARBUCKS
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146176,False,TEST BRANDCODE @1612366146176
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,601ac142be37ce2ead437559,Cogs,test brand @1612366146051,False,TEST BRANDCODE @1612366146051
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,5332fa12e4b03c9a25efd1e7,Cogs,test brand @1612366146827,False,TEST BRANDCODE @1612366146827

In [9]:
# Checking the data type
df_brands.dtypes

_id_$oid        object
barcode          int64
category        object
categoryCode    object
cpg_$id_$oid    object
cpg_$ref        object
name            object
topBrand        object
brandCode       object
dtype: object

In [10]:
# Total number of rows and columns
df_brands.shape

(1167, 9)

In [11]:
# Finding the null values
df_brands.isnull().sum()

_id_$oid          0
barcode           0
category        155
categoryCode    650
cpg_$id_$oid      0
cpg_$ref          0
name              0
topBrand        612
brandCode       269
dtype: int64

In [12]:
# Finding the null values
df_users.head().isnull().sum()

_id_$oid             0
active               0
createdDate_$date    0
lastLogin_$date      0
role                 0
signUpSource         0
state                0
dtype: int64